<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Sdwire device serial number') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.sdwire.sdwire_serial">
            <span class="help-inline">{{ _('Enter serial number assigned to sdwire device') }}</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('SD card UUID') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.sdwire.disk_uuid">
            <span class="help-inline">{{ _('Enter UUID of inserted SD card (check by using blkid command under Linux)') }}</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('sd-mux-ctrl binary path') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.sdwire.sd_mux_ctrl">
            <span class="help-inline">{{ _('Path to compiled sd-mux-ctrl binary') }}</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Debugging') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.sdwire.debug_logging">{{ _('Enable debug logging') }}
        </div>
    </div>
<p>
Create /etc/sudoers.d/octoprint-plugin-sdwrite file with content and adjust paths:

<code>
pi ALL=NOPASSWD: /usr/bin/mount<br/>
pi ALL=NOPASSWD: /usr/bin/umount<br/>
pi ALL=NOPASSWD: /usr/local/bin/sd-mux-ctrl<br/>
</code>
</p>

<p>Plugin is expecting binaries at paths:
/usr/sbin/blkid<br/>
/usr/bin/mount<br/>
/usr/bin/umount<br/>
/usr/bin/sudo<br/>
</p>

</form>
